SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
# Use ONE of the following signer options:
WALLET_PRIVATE_KEY=YOUR_PRIVATE_KEY_WITHOUT_0x
# WALLET_MNEMONIC="twelve words for your wallet seed phrase"
